{% extends 'base.html' %}
{% load static %}
<head>
    <meta charset="UTF-8">
</head>
<body>

    {% block content %}
    <title>{% block title %}Store{% endblock %}</title>
        <style type="text/css">
        body {
            background:#eee;
        }
        .ratings i {
            font-size: 16px;
            color: #a41515;
        }
        .strike-text{
            color: red;
            text-decoration: line-through;
        }
        .product-image{
            width: 100%;
        }
        .dot{
            height: 7px;
            width: 7px;
            margin-left: 6px;
            margin-right: 6px;
            margin-top: 3px;
            background-color: #a41515;
            border-radius: 50%;
            display: inline-block;
        }
        .spec-1{
            color: #938787;
            font-size: 15px;
        }
        h5{
            font-weight: 400;
        }
        .para{
            font-size: 16px;
        }
        .page-item a.page-link:hover {
          background-color: #ffc9ce; /* Цвет danger */
          border-color: #ffc9ce; /* Цвет рамки danger */
          color: #fff; /* Цвет текста (белый для контраста) */
        }
    </style>

        <div class="container-md mt-2 mb-2">
        {% for offer in page_obj %}
            <div class="d-flex justify-content-center row">
                <div class="col-md-10 product-card">
                    <div class="row p-2 bg-white border rounded mt-2 mb-2">
                        <div class="col-md-3 mt-1">
                            {% if offer.is_active %}
                                <a href="{{ offer.get_absolute_url }}"><img class="img-fluid img-responsive rounded product-image" src="{{ offer.picture.url }}"></a>
                            {% else %}
                                <img class="img-fluid img-responsive rounded product-image" style="opacity: 50%" src="{{ offer.picture.url }}">
                            {% endif %}
                        </div>
                        <div class="col-md-6 mt-1">
                            <h5>{{ offer.name }}</h5>
                            <div class="d-flex flex-row">
                                <div class="ratings mr-2 mt-2">{{ offer.average_rating|floatformat:"1" }}<i class="fa fa-star"> </i> based on   {{ offer.reviews.count }} reviews</div>
                            </div>
                            <div class="mt-1 mb-1 spec-1"><span>{{ offer.created|date:"d M, Y" }}</span><span class="dot"></span><span>{{ offer.category|title }}</span></div>
                            <div class="mt-1 mb-1 spec-1"><span>{{ offer.owned_by.owner_name }}</span><span class="dot"></span><span>{{ offer.location }}</span><span class="dot"></span><span>{{ offer.room_type }}<br></span></div>
                            <p class="text-justify text-truncate para mb-0">{{ offer.description }}</p>
                        </div>
                        <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                            <div class="d-flex flex-row align-items-center">
                                <h4 class="mr-1">${{ offer.price }}</h4><span class="mx-2 text-muted fw-light">{{ offer.get_period_display }}</span>
                            </div>
                            {% if offer.is_active %}
                               <h6 class="text-success">Available for rent</h6>
                                <div class="d-flex flex-column mt-4">
                                {% if user.is_authenticated %}
                                    <form action="/history/" method="POST">{% csrf_token %}
                                        <input type="hidden" name="id" value="{{ offer.id }}">
                                        <a href="{{ offer.get_absolute_url }}" role="button"><button class="btn btn-danger btn-sm w-100"> Details</button> </a>
                                    </form>
                                    <a class="btn btn-outline-danger btn-sm mt-2 cart-button"  data-offer-id="{{ offer.id }}" href="#" role="button">Add to cart</a>
                                {% else %}
                                    <a class="btn btn-danger  btn-sm" href="{{ offer.get_absolute_url }}" role="button">Details</a>
                                    <a class="btn btn-outline-danger btn-sm mt-2" href="{% url 'login' %}" role="button">Add to cart</a>
                                    {% endif %}
                                </div>
                            {% else %}
                                <h6 class="text-danger">Reserved</h6>
                                <div class="d-flex flex-column mt-4">
                                    <a class="btn btn-danger disabled btn-sm" href="{{ offer.get_absolute_url }}" role="button">Details</a>
                                    <a class="btn btn-outline-danger disabled btn-sm mt-2"  href="#" role="button">Add to cart</a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        <div class="d-flex justify-content-center">

              {% if is_paginated %}
            <ul class="pagination text-danger">
                {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link text-danger" href="?page=1" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                {% else %}
                <li class="page-item text-danger disabled">
                    <span class="page-link text-danger">&laquo;</span>
                </li>
                {% endif %}

                {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <li class="page-item active">
                      <span class="page-link bg-danger border-danger">{{ num }}</span>
                    </li>

                {% else %}
                <li class="page-item text-danger"><a class="page-link text-danger" href="?page={{ num }}">{{ num }}</a></li>
                {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link text-danger" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <span class="page-link text-danger">&raquo;</span>
                </li>
                {% endif %}
            </ul>
            {% endif %}
        </div>
    </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script>

        $(document).on('click', '.cart-button', function (e) {
            e.preventDefault();
            var offerId = $(this).data('offer-id');
            $.ajax({
                type: 'POST',
                url: '{% url 'cart_add' %}',
                data: {
                    offer_id: offerId,
                    offer_qty: 1,
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    action: 'post'
                },
                success: function (json){
                    //console.log(json)
                    document.getElementById("cart-count").
                        textContent = json.count
                },
                error: function (xhr, errmsg, err) {

                }
            });
        });

        </script>


    {% endblock content %}
</body>
