{% extends 'base.html' %}
{% load static %}

{% block content %}
    <title>Home | Dwelly</title>
    <style type="text/css">
        body {
          background-image: linear-gradient(180deg, #eee, #fff 100px, #fff);
        }

        .text-block {
            position: relative;
            padding: 100px 250px;
            color: #dddbd7;
            background: #895156;
        }

    </style>
    {% include 'personal/parallax.html' %}

        <section>
                <div class="text-block text-center">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed hendrerit risus at felis ultrices, sed varius metus luctus. Nulla facilisi. Maecenas hendrerit elit sed nibh vehicula, ut blandit nunc luctus. Nulla facilisi. Proin sit amet lectus ut odio facilisis consectetur. Integer vitae lorem sed turpis volutpat posuere. Phasellus sed dolor euismod, laoreet massa nec, ultricies tortor. Aliquam erat volutpat. Sed condimentum, dolor ut tincidunt finibus, est libero venenatis lorem, eu dictum metus nisi vel quam. Nullam sit amet turpis volutpat, convallis eros a, ultrices quam. Ut at risus ut dolor volutpat dignissim. Sed hendrerit purus vitae eros euismod congue. Suspendisse potenti. Sed faucibus elit vitae nisi tempus, in posuere lectus fermentum. Sed ut volutpat libero.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tristique quam vel turpis pellentesque, ut laoreet diam condimentum. Ut ac sagittis justo. Fusce hendrerit justo quis metus tincidunt, a congue sapien fermentum. Integer luctus lacinia justo, nec convallis dolor suscipit vel. Nullam tincidunt sem at risus vulputate, ut tempor mauris venenatis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas ullamcorper quam eu hendrerit bibendum. In hac habitasse platea dictumst. Aenean tincidunt libero et sollicitudin eleifend. Vivamus ut accumsan elit. Suspendisse potenti. Integer nec scelerisque justo. Nunc volutpat justo vel urna fermentum, vel gravida lacus luctus.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed hendrerit risus at felis ultrices, sed varius metus luctus. Nulla facilisi. Maecenas hendrerit elit sed nibh vehicula, ut blandit nunc luctus. Nulla facilisi. Proin sit amet lectus ut odio facilisis consectetur. Integer vitae lorem sed turpis volutpat posuere. Phasellus sed dolor euismod, laoreet massa nec, ultricies tortor. Aliquam erat volutpat. Sed condimentum, dolor ut tincidunt finibus, est libero venenatis lorem, eu dictum metus nisi vel quam. Nullam sit amet turpis volutpat, convallis eros a, ultrices quam. Ut at risus ut dolor volutpat dignissim. Sed hendrerit purus vitae eros euismod congue. Suspendisse potenti. Sed faucibus elit vitae nisi tempus, in posuere lectus fermentum. Sed ut volutpat libero.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed hendrerit risus at felis ultrices, sed varius metus luctus. Nulla facilisi. Maecenas hendrerit elit sed nibh vehicula, ut blandit nunc luctus. Nulla facilisi. Proin sit amet lectus ut odio facilisis consectetur. Integer vitae lorem sed turpis volutpat posuere. Phasellus sed dolor euismod, laoreet massa nec, ultricies tortor. Aliquam erat volutpat. Sed condimentum, dolor ut tincidunt finibus, est libero venenatis lorem, eu dictum metus nisi vel quam. Nullam sit amet turpis volutpat, convallis eros a, ultrices quam. Ut at risus ut dolor volutpat dignissim. Sed hendrerit purus vitae eros euismod congue. Suspendisse potenti. Sed faucibus elit vitae nisi tempus, in posuere lectus fermentum. Sed ut volutpat libero.
                    </p>
                </div>
            </section>
{% endblock content %}